<h2>Add Invoice</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">Name</label>

    <input type="text"
            class="form-control"
            id="name"
            name = "name"
            required
            [(ngModel)] = "invoice.name"
            #name="ngModel">
            <div *ngIf="!name.valid">
              Please fill Product name
      </div>    
          
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number"
           value="1000"
            class="form-control"
            id="amount"
            name = "amount"       
             required 
            [(ngModel)] = "invoice.amount"
            #amount="ngModel">
      <div *ngIf="!amount.valid">
              Please insert number of amount
      </div>       
  </div>
  <button type="submit" class="btn btn-primary" >Save Invoice</button>
</form>
