<h1>
  {{title}}
</h1>

<nav>
  
  <a routerLink="/invoice-form" routerLinkActive="active" >Invoice Form</a> |
  <a routerLink="/invoices" routerLinkActive="active" >Invoices</a> |
  <a routerLink="/users" routerLinkActive="active" >Users</a> | 
  <a routerLink="/posts" routerLinkActive="active">Posts</a> |
  <a routerLink="/fire" routerLinkActive="active">Firebase test</a>
</nav>

<!-- <jce-users></jce-users> -->
<router-outlet></router-outlet>
<!-- Routed views go here -->
