<div>
  <jce-invoice-form (invoiceAddedEvent) = "addInvoice($event)"></jce-invoice-form>
  <h3>Invoices list:</h3>

  <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group invoices" >
        <li class="list-group-item" *ngFor = "let invoice of invoices" [class.active]="currentInvoice == invoice" (click)="select(invoice)">
            <jce-invoice [invoice] = invoice (deleteEvent) = "deleteInvoice($event)"
                                    (editEvent) = "editInvoice($event)"></jce-invoice>

          <ul>
             <li *ngFor = "let title of invoice.posTitles">
                 {{(title | async)?.title}}
             </li>
         </ul> 

        </li>
  </ul>
</div>
